<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got you covered!</h2>
                <hr class="light">
                <p class="text-faded">Transform your translated texts into polished, natural-sounding English. Whether it’s a book, an article, or any other document, clarity and fluency are just a click away.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
